:root {
  --default-font: Roboto Mono;
  --secondary-font: Roboto;
}

/* Modal PDF Reader starts here */
.react-pdf__Page {
  min-width: 0 !important;
  width: 100%;
  margin-top: -50px;
}

.react-pdf__Page__canvas {
  width: inherit !important;
}

.react-pdf__Page__textContent {
  background-color: #0c0c0c;
}

.textLayer :is(span, br) {
  color: rgb(255, 255, 255, 0.5);
}

.react-pdf__Page__textContent > span {
  color: rgb(255, 255, 255, 0.75);
}

.react-pdf__Page__textContent .custom_span {
  top: 0px;
  color: #c2185b;
  cursor: pointer;

  &:hover {
    color: #1397f0;
  }
}

.custom-link {
  display: flex;
}

.custom_heading {
  color: white !important;
}
